<div class="container">
    <h1>Bienvenido al proveedor {{PROVEEDOR}} OMV {{OMV}} LAC {{LAC}}</h1>
    <div class="abonado">
        <h2>Ingrese su número de abonado:</h2>
        <form id="abonadoForm" action="/submit-abonado" method="POST">
            <label for="abonado">Número de Abonado:</label>
            <input type="text" id="abonado" name="abonado" pattern="\d*" title="Ingrese solo dígitos" required>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
